{% extends "base.html" %}

{% block content %}
<div class="page">

  <div class="top contentbox">
    <h1 class="landingtitle"> Upload soil respiration data </h1>
  </div>

  <div class="main contentbox">

    <div class="explanation">
      <p class="textp">
	This is a test web service for submitting measurement forms.
      </p>
    </div>

    <div class="entry">
      <p class="textp">
	click here to login
      </p>
      <div class="navigation">
	<p>
	  <a href="/mcds/main" class="linkbutton navbutton"> login </a>
	</p>
      </div>
    </div>

  </div>

</div>
{% endblock %}
