{% extends "base.html" %}

{% block title %}MCDS: Upload data specification{% endblock %}

{% block content %}
<div class="header">
  <h1> Upload data specification </h1>

  <div class="navigation">
    <a href="/mcds/main" class="linkbutton navbutton"> back to main </a>
  </div>
</div>

<hr>

<div class="content">

  {% if messages %}
  <div class="messagebox">
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <div class="submitform contentbox">
    <h2 class="boxheader"> Upload dataspec </h2>

    <form method="post" enctype="multipart/form-data">
      {{ form.as_p }}
      {% csrf_token %}
      <div class="buttonbox">
	<input type="submit" value="Upload">
      </div>
    </form>
  </div>

</div>
{% endblock %}
